@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-color: rgb(212, 212, 212);
  --text-light-color: rgb(155, 155, 155);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 17, 17, 17;
    --background-end-rgb: 17, 17, 17;
  }
}

html {
  scroll-behavior: smooth !important;
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(17, 17, 17);
  font-family: "Ubuntu" !important;
  color: var(--text-color);
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  width: 1536px;
  margin: auto;
  padding: 0 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1536px) {
  .container {
    width: 1366px;
  }
}

@media (max-width: 1366px) {
  .container {
    width: 1200px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 1024px;
    padding: 0 20px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 640px;
  }
}

@media (max-width: 640px) {
  .container {
    width: 475px;
  }
}

@media (max-width: 475px) {
  .container {
    width: 380px;
  }
}

.fordrop {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: calc(100vh - 100px);
  background: rgba(0, 0, 0, 0.5);
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
}
