.container {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  display: flex;
  width: calc(80% - 32px);
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  height: 100%;
  background: rgba(33, 31, 31, 0.5);
  backdrop-filter: blur(50px);
  margin-top: 32px;
  border-radius: 24px;
}

.links {
  display: flex;
  align-items: center;
  gap: 64px;
}
